body {
    background: black;
}

.wrapper {
    height: 100%;
    height: 100vh;
    position: relative;
    width: 100%;
}

.control_menu {
    width: 100vw;
    height: 40px;
    position: fixed;
    background: rgba(221, 221, 221, 0.5);
    color: black;
    transition: all 0.2s 0s ease-in-out;
    opacity: 0;
    z-index: 2;
}

.control_menu:hover {
    opacity: 1;
}

.button {
    background: rgb(17, 123, 138);
    color: white;
    padding: 3px 10px;
    border: none;
}
.video_wrapper {
    background: black;
    position: relative;
    width: 100vw;
    height: 100vh;
}
video {
  -o-object-fit: contain;
  object-fit: contain;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}
